<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    <nav>
        <a href ="/">dashboard</a>
        <button class ="" id ="">log in</button>

        <a href="/">log out</a>
    </nav>
</body>
</html>