

<!-- check with auth ????--> 
<form id = "commentform">
  <input type ="hidden" id ="blog-id" value="{{commentPost.id}}">
  <div class="mb-3">
  <label for="commentpost" class="form-label">Comment</label>
  <input type="text" class="form-control" id="commentpost" placeholder="enter your comment">
</div> 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- link to script -->
<script src="/js/comment.js"></script>