<!-- when user clicks dashboard they will be presnted with  their own post-->

<div class="card">
    <div class="card-header">
    
      <p>Dashboard</p>
        {{#if userposts.length}}

        {{#each userposts as |userpost|}}

        {{userpost.title}}
        {{/each}}
    </div>
    <div class="card-body">
        {{#each userposts as |userpost|}}
        <blockquote class="blockquote mb-0">
            <p>{{userpost.content}}</p>
            <footer class="blockquote-footer">Posted by: {{userpost.user.username}}</footer>
        </blockquote>
        {{/each}}
    </div>
</div>

{{else}}
<p>no blogs found</p>
{{/if}}

<!-- button to be directed to the newpost.hdb -->
<button type="submit" class="btn btn-primary"><a href="/new">add</a>Add New Post</button>

