<!-- when user clicks dashboard they will be presnted with  their own post-->

<div class="card">
    <div class="card-header">
      <p id="dashboard">Dashboard</p>
    
        {{#if userposts.length}}
    </div>
    <div class="card-body">
        {{#each userposts as |userpost|}}
        <blockquote class="blockquote mb-0">
            <a href="/update/{{userpost.id}}"><p>{{userpost.title}}</p></a>
            <footer class="blockquote-footer">Posted by: {{userpost.user.username}}</footer>
        
        </blockquote>
        {{/each}}
    </div>
</div>

{{else}}
<p>no blogs found</p>
{{/if}}

<!-- button to be directed to the newpost.hdb -->
<a class ="link"href="/new"><button type="submit" class="btn btn-primary">Add New Post</button></a>

