<!-- when user clicks dashboard they will be presnted with  their own post-->
{{each blogs as|blog|}}

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="/{{id}}">{{title}}</a></h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{/each}}
{{/each}}
<!-- button to add new post -->

<!-- when they click add new post they will-->
<!-- they will be prompted with form to add 
title 

content 

button to submit -->

<!-- back in the dashboard -->