<!--display all posts  -->
<div class="card">
    <div class="card-header">
        {{#if blogposts.length}}
    </div>
    <div class="card-body">
        {{#each blogposts as |blogpost|}}
        <blockquote class="blockquote mb-0">
            <p>{{blogpost.title}}</p>
            <footer class="blockquote-footer">Posted by: {{blogpost.user.username}}</footer>
        </blockquote>
        {{/each}}
    </div>
</div>

{{else}}
<p>no blogs found</p>
{{/if}}


<!-- when clicked on title of blog post it will direct them to -->
<!-- Add comment with button to submit-->