<form id ="loginform">
    <h1>Log In </h1>
  <div class="mb-3">
    <label for="usernameli" class="form-label">Username</label>
    <input type="text" class="form-control" id="usernameli" aria-describedby="emailHelp" autocomplete="username">
    <div id="userHelp" class="form-text">Input Your Username</div>
  </div>
  <div class="mb-3">
    <label for="passwordli" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordli" autocomplete="current-password">
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
  <!--link to signup-->
  <div><a href ="/api/signup">Sign Up Instead</a></div>
</form>
<!-- script to login.js-->
<script src ="/js/login.js"></script> 
