<form id ="loginform">
    <h1>Log In </h1>
  <div class="mb-3">
    <label for="usernameli" class="form-label">Username</label>
    <input type="username" class="form-control" id="usernameinput" aria-describedby="emailHelp">
    <div id="userHelp" class="form-text">Input Your Username</div>
  </div>
  <div class="mb-3">
    <label for="passwordli" class="form-label">Password</label>
    <input type="password" class="form-control" id="passwordinput">
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
  <!--link to signup-->
  <div><a href ="/">Sign Up</a></div>
</form>
<!-- script to login.js-->
<script scr ="/js/login.js"></script> 
