<!-- new post  -->
<form id ="newpostform">
    <h1>Create New Post</h1>
<div class="mb-3">
  <label for="titlenp" class="form-label">Title</label>
  <input type="text" class="form-control" id="titlenp" placeholder="Title">
</div>
<div class="mb-3">
  <label for="contentnp" class="form-label">Content</label>
  <textarea class="form-control" id="textareanp" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Create New Post</button>
</form>

<!-- script to display new blog post-->
<script src="/js/newpost.js"></script>
